.formsCadastro body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.formsCadastro {
    border: none;
    border-radius: 10px;
    width: 300px;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 249, 187, 0.141);
    text-align: center;
    font-family: Arial, sans-serif;
    height: auto;
    max-height: 10px;
    margin-top: 10px;
}

.formsCadastro form {
    display: inline-block;
}

/* Estilo para os campos do formulário */
.formsCadastro label,
.formsCadastro input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0000004a;
    border-radius: 5px;
    color:black; /* Faltou fechar o ponto e vírgula aqui */

    /* Cor de fundo cinza claro para campos de formulário desativados */
    background-color: #f2f2f2;
}

/* Estilo para os campos de formulário que estão desativados */
.formsCadastro input[readonly] {
    background-color: hwb(0 52% 48% / 0.427); /* Cor de fundo cinza claro */
}
